<html>
<head>
	
	
	<script src="/js/jquery-latest-min.js"></script>
	<script src="/js/bootstrap-min.js"></script>
	<script src="/js/bootstrap-paginator.js"></script>
	<script src="/js/main.js"></script>
	
 	<link href="/css/bootstrap.css" rel="stylesheet" />
 	<link href="/css/bootstrap-theme.css" rel="stylesheet" />
 	
	<title>主页面</title>
</head>

<div class="page-header">
  <h2 style="text-align:center">自动化测试平台-数据驱动</h2>
</div>

<div>
	<label>当前登录用户:</label><label id="curUserId"></label>
	<br />
</div>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTabs">
    <li role="presentation"  class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" id="caseMge">用例管理</a></li>
	<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" id="sceneMge">场景管理</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" id="templateMge">模板管理</a></li>
    <li role="presentation"><a href="#resultrecord" aria-controls="resultrecord" role="tab" data-toggle="tab" id="resultRecord">结果报告</a></li>
  </ul>

  <!-- Tab panes -->
<div class="tab-content"  >

	 <!-- 用例管理 -->
  <div role="tabpanel" class="tab-pane fade in active" id="home">
  <br />
  	 <!-- <button id="caseAdd" class="btn btn-primary" onclick="window.open('/addcase')">添加</button>-->
  	<a id="caseAdd" class="btn btn-primary" href="/addcase" target="_blank" role="button">添加</a>&emsp;
  	
  	<button id="caseRefresh" class="btn btn-primary">刷新</button>&emsp;
  	<button id="caseExecute" class="btn btn-primary">执行</button>
  	<br />
  	<br />
  	<table id="case_table"  class="table table-bordered">
  		<thead>
  			  <tr>
  			  <th style="width:5%">是否执行</th>
			  <th>用例Id</th>
			  <th>用例描述</th>
			  <th>场景Id</th>
			  <th>自定义输入</th>
			  <th>校验描述</th>
			  <th>自定义输出检查</th>
			  <th>检查类型</th>
			  <th>最后修改用户</th>
  			</tr>
  		</thead>
  		<tbody>
  		</tbody>
  	</table>
  
  	<div>
    	<ul id='case_page' 	style="cursor:hand;"></ul>
	</div>
	
  </div>
 
  <!-- 场景管理 -->
  <div role="tabpanel" class="tab-pane fade" id="profile">
  	<br />
  		<a id="sceneAdd" class="btn btn-primary" href="/addscene" target="_blank" role="button">添加</a>&emsp;
  		<button id="sceneRefresh" class="btn btn-primary">刷新</button>
  	<br />
	<br />
    <table id="scene_table"  class="table table-bordered">
  		<thead>
  			  <tr>
			  <th>场景Id</th>
			  <th>场景描述</th>
			  <th>请求类型</th>
			  <th>场景Host</th>
			  <th>场景API</th>
			  <th>模块描述</th>
			  <th>模板Id</th>
			  <th>备注信息</th>
			  <th>最后修改用户</th>
  			</tr>
  		</thead>
  		<tbody>
  		</tbody>
  	</table>
  	<div>
    	<ul id='scene_page' style="cursor:hand;"></ul>
	</div>
  
  </div>
  
   <!-- 模板管理 -->
  <div role="tabpanel" class="tab-pane fade" id="messages">
  <br />
  	<a id="templateAdd" class="btn btn-primary" href="/addtemplate" target="_blank" role="button">添加</a>&emsp;
  	<button id="templateRefresh" class="btn btn-primary">刷新</button>
  	<br />
  	<br />
    <table id="template_table"  class="table table-bordered">
  		<thead>
  			  <tr>
			  
			  <th>模板Id</th>
			  <th>模板名称</th>
			  <th>模板内容信息</th>
			  <th>备注信息</th>
			  <th>AfterToDo</th>
			  <th>BeforeToDo</th>
			  <th>Input2SqlMap</th>
			  <th>Output2SqlMap</th>
			  <th>Sql2MongoMap</th>
			  <th>Output2MongoMap</th>
			  <th>最后修改用户</th>
   			  
  			</tr>
  		</thead>
  		<tbody>
  		</tbody>
  	</table>
  	
  	<div>
    	<ul id='template_page' style="cursor:hand;"></ul>
	</div>
  </div>
  
  <!-- 结果报告 -->
  <div role="tabpanel" class="tab-pane fade" id="resultrecord">
  <br />
  	<button id="runResultRefresh" class="btn btn-primary">刷新</button>
  	<br />
  	<br />
    <table id="runResult_table"  class="table table-bordered">
  		<thead>
  			  <tr>
			  <th>resultId</th>
			  <th>host name</th>
			  <th>结果集</th>
			  <th>操作用户</th>
  			</tr>
  		</thead>
  		<tbody>
  		</tbody>
  	</table>
  	
  	<div>
    	<ul id='runResult_page' style="cursor:hand;"></ul>
	</div>
  </div>
</div>

</div>

<!-- 隐去翻页 前一页和后一页li -->
<style>
	.pagination li > a:empty {
		display: none;
	}
</style>

</html>